<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>baseIntroThumb</key>
		<string>gysdh_SYBT.jpg</string>
		<key>city_of_hotel_Info</key>
		<array>
			<dict>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>张家口跨越大酒店</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 WIFI覆盖 免费停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>369</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 无早 WIFI覆盖 免费停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>369</string>
								<key>roomType</key>
								<string>大床房</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>张家口基业大酒店</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 含早 WIFI覆盖 免费停车 24小时热水</string>
								<key>roomPrice</key>
								<string>146</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>hotelMapImage</key>
				<string>gyshb_HotelMap1.jpg</string>
			</dict>
			<dict>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>大润庄园</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 WIFI覆盖 免费停车</string>
								<key>roomPrice</key>
								<string>328</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>天泽假日酒店</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 免费停车</string>
								<key>roomPrice</key>
								<string>240</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 无早 免费停车</string>
								<key>roomPrice</key>
								<string>290</string>
								<key>roomType</key>
								<string>大床房</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 无早 免费停车</string>
								<key>roomPrice</key>
								<string>340</string>
								<key>roomType</key>
								<string>套房</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>隆源休闲度假村</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 WIFI覆盖 免费停车</string>
								<key>roomPrice</key>
								<string>348</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 无早 WIFI覆盖 免费停车</string>
								<key>roomPrice</key>
								<string>378</string>
								<key>roomType</key>
								<string>大床房</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多三人 双床 无早 WIFI覆盖 免费停车</string>
								<key>roomPrice</key>
								<string>388</string>
								<key>roomType</key>
								<string>家庭房</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 WIFI覆盖 免费停车</string>
								<key>roomPrice</key>
								<string>488</string>
								<key>roomType</key>
								<string>豪华套房</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>hotelMapImage</key>
				<string>gyshb_HotelMap2.jpg</string>
			</dict>
		</array>
		<key>detailIntro</key>
		<string>草原天路、闪电湖两日自驾游线路</string>
		<key>intro</key>
		<string>一次说走就走的草原之旅</string>
		<key>introImages</key>
		<array>
			<dict>
				<key>discription</key>
				<string>蓝天与之相接，白云与之呼应，行走在天路之上，就像是漫步在云端，故而得名“天路”。</string>
				<key>imageName</key>
				<string>gysdh_YL1.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>这里的景色如同这里的人一样，真实而未经修葺。一层层的梯田，静静地躺在大自然的怀抱中，呼吸着最纯净的空气。</string>
				<key>imageName</key>
				<string>gysdh_YL2.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>这里年平均气温-1℃，最高气温24℃，7月份气温15.8℃，这里空气含氧量达到27%，含负氧离子较高，被誉为“天然的大氧吧”，是理想的避暑胜地。</string>
				<key>imageName</key>
				<string>gysdh_YL3.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>草原天路，全长132.7公里，犹如一条蛟龙，盘踞于群山峻岭之颠，蜿蜒曲折、跌宕起伏，绵延百余公里。</string>
				<key>imageName</key>
				<string>gysdh_YL4.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>传说中用泪水灌溉而成的闪电湖，是丰宁最温柔的一抹风景。</string>
				<key>imageName</key>
				<string>gysdh_YL5.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>天空，草原，湖泊，河流在此会合，彼此拥抱环绕，形成一幅用绿色和蓝色绘成的风景画卷。</string>
				<key>imageName</key>
				<string>gysdh_YL6.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>闪电湖区保持着自然和谐的生态环境，湖水清澈，碧波荡漾下可见鱼虾自在游弋。</string>
				<key>imageName</key>
				<string>gysdh_YL7.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>湖面上的水鸟轻盈地低飞，给静谧的湖区增添了生动的气息。</string>
				<key>imageName</key>
				<string>gysdh_YL8.jpg</string>
			</dict>
		</array>
		<key>name</key>
		<string>一次说走就走的草原之旅</string>
		<key>routeImage</key>
		<string>gysdh_XQY1.jpg</string>
	</dict>
	<dict>
		<key>baseIntroThumb</key>
		<string>s310_SYBT.jpg</string>
		<key>city_of_hotel_Info</key>
		<array>
			<dict>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>北京白河山川农家院</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>部分WIFI覆盖 免费农家院</string>
								<key>roomPrice</key>
								<string>150</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>北京周占英民宿农家院</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>双床 WIFI覆盖 无早 停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>120</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>三床 WIFI覆盖 无早 停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>150</string>
								<key>roomType</key>
								<string>三人间</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>五人大炕 WIFI覆盖 无早 停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>200</string>
								<key>roomType</key>
								<string>大炕间</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>hotelMapImage</key>
				<string>gyshb_HotelMap1.jpg</string>
			</dict>
			<dict>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>废止</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 WIFI覆盖 免费停车</string>
								<key>roomPrice</key>
								<string>328</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>废止</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 免费停车</string>
								<key>roomPrice</key>
								<string>240</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 无早 免费停车</string>
								<key>roomPrice</key>
								<string>290</string>
								<key>roomType</key>
								<string>大床房</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 无早 免费停车</string>
								<key>roomPrice</key>
								<string>340</string>
								<key>roomType</key>
								<string>套房</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>废止</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 WIFI覆盖 免费停车</string>
								<key>roomPrice</key>
								<string>348</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 无早 WIFI覆盖 免费停车</string>
								<key>roomPrice</key>
								<string>378</string>
								<key>roomType</key>
								<string>大床房</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多三人 双床 无早 WIFI覆盖 免费停车</string>
								<key>roomPrice</key>
								<string>388</string>
								<key>roomType</key>
								<string>家庭房</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 WIFI覆盖 免费停车</string>
								<key>roomPrice</key>
								<string>488</string>
								<key>roomType</key>
								<string>豪华套房</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>hotelMapImage</key>
				<string>gyshb_HotelMap2.jpg</string>
			</dict>
		</array>
		<key>detailIntro</key>
		<string>激情自驾S310省道 白河湾漂流 </string>
		<key>intro</key>
		<string>激情自驾S310省道 白河湾漂流 </string>
		<key>introImages</key>
		<array>
			<dict>
				<key>discription</key>
				<string>白河自然风景区位于怀柔区境内，距北京市区95公里，融山川、河流、奇峰、怪石为一体，更以汤河漂流、越野驾驶、天然攀岩等拓展项目为特色。</string>
				<key>imageName</key>
				<string>s310_YL1.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>景区绿色植被覆盖率75%以上，林木繁茂、空气清新、水质清纯、气候宜人、昼夜温差大，环境质量在北京地区居于首位。</string>
				<key>imageName</key>
				<string>s310_YL2.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>待定</string>
				<key>imageName</key>
				<string>s310_YL3.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>待定</string>
				<key>imageName</key>
				<string>s310_YL4.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>待定</string>
				<key>imageName</key>
				<string>s310_YL5.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>待定</string>
				<key>imageName</key>
				<string>s310_YL6.jpg</string>
			</dict>
		</array>
		<key>name</key>
		<string>激情自驾S310省道 白河湾漂流</string>
		<key>routeImage</key>
		<string>s310_XQY1.jpg</string>
	</dict>
	<dict>
		<key>baseIntroThumb</key>
		<string>yzxgcdx_SYBT.jpg</string>
		<key>city_of_hotel_Info</key>
		<array>
			<dict>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>北京斋韵山庄</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 WIFI覆盖 免费停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>200</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 三床 无早 WIFI覆盖 免费停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>240</string>
								<key>roomType</key>
								<string>三人间</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>张家口基业大酒店</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 含早 WIFI覆盖 免费停车 24小时热水</string>
								<key>roomPrice</key>
								<string>146</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>hotelMapImage</key>
				<string>yzxgcdx_HotelMap1.jpg</string>
			</dict>
		</array>
		<key>detailIntro</key>
		<string>探秘峡谷里的村落 自驾穿越幽州峡谷 夜宿爨底下</string>
		<key>intro</key>
		<string>探秘峡谷里的村落 自驾穿越幽州峡谷</string>
		<key>introImages</key>
		<array>
			<dict>
				<key>discription</key>
				<string>草原天路，全长132.7公里，犹如一条蛟龙，盘踞于群山峻岭之颠，蜿蜒曲折、跌宕起伏，绵延百余公里。</string>
				<key>imageName</key>
				<string>yzxgcdx_YL1.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>蓝天与之相接，白云与之呼应，行走在天路之上，就像是漫步在云端，故而得名“天路”。</string>
				<key>imageName</key>
				<string>yzxgcdx_YL2.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>桦皮岭气候宜人。这里年平均气温-1℃，最高气温24℃，7月份气温15.8℃，这里空气含氧量达到27%，含负氧离子较高，被誉为“天然的大氧吧”，是理想的避暑胜地。</string>
				<key>imageName</key>
				<string>yzxgcdx_YL3.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>这里的景色如同这里的人一样，真实而未经修葺。一层层的梯田，静静地躺在大自然的怀抱中，呼吸着最纯净的空气。</string>
				<key>imageName</key>
				<string>yzxgcdx_YL4.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情</string>
				<key>imageName</key>
				<string>yzxgcdx_YL5.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情</string>
				<key>imageName</key>
				<string>yzxgcdx_YL6.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情</string>
				<key>imageName</key>
				<string>yzxgcdx_YL7.jpg</string>
			</dict>
		</array>
		<key>name</key>
		<string>探秘峡谷里得村落 自驾穿越幽州峡谷</string>
		<key>routeImage</key>
		<string>yzxgcdx_XQY1.jpg</string>
	</dict>
	<dict>
		<key>baseIntroThumb</key>
		<string>sgh_SYBT.jpg</string>
		<key>city_of_hotel_Info</key>
		<array>
			<dict>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string></string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomPrice</key>
								<string>598</string>
								<key>roomType</key>
								<string>标准间</string>
								<key>roomintro</key>
								<string>最多两人 大床 WIFI覆盖 免费停车场 24小时热水</string>
							</dict>
							<dict>
								<key>roomPrice</key>
								<string>698</string>
								<key>roomType</key>
								<string>观景房B</string>
								<key>roomintro</key>
								<string>最多两人 大床 WIFI覆盖 免费停车场 24小时热水</string>
							</dict>
							<dict>
								<key>roomPrice</key>
								<string>798</string>
								<key>roomType</key>
								<string>观景房A</string>
								<key>roomintro</key>
								<string>最多两人 大床 WIFI覆盖 免费停车场 24小时热水</string>
							</dict>
							<dict>
								<key>roomPrice</key>
								<string>1888</string>
								<key>roomType</key>
								<string>豪华套房</string>
								<key>roomintro</key>
								<string>最多两人 大床 WIFI覆盖 免费停车场 24小时热水</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>怀来县太和温泉假日酒店</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomPrice</key>
								<string>138</string>
								<key>roomType</key>
								<string>日式标准房</string>
								<key>roomintro</key>
								<string>最多两人 双床 部分WIFI覆盖 免费停车场 24小时热水</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 部分WIFI覆盖 免费停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>138</string>
								<key>roomType</key>
								<string>日式大床房</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 部分WIFI覆盖 免费停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>198</string>
								<key>roomType</key>
								<string>商务标准房</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 部分WIFI覆盖 免费停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>198</string>
								<key>roomType</key>
								<string>商务大床房</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 部分WIFI覆盖 免费停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>558</string>
								<key>roomType</key>
								<string>豪华套房</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>hotelMapImage</key>
				<string>sgh_HotelMap1.jpg</string>
			</dict>
		</array>
		<key>detailIntro</key>
		<string>蜿蜒向西 自驾穿越桑干河峡谷</string>
		<key>intro</key>
		<string>蜿蜒向西 自驾穿越桑干河峡谷</string>
		<key>introImages</key>
		<array>
			<dict>
				<key>discription</key>
				<string>草原天路，全长132.7公里，犹如一条蛟龙，盘踞于群山峻岭之颠，蜿蜒曲折、跌宕起伏，绵延百余公里。</string>
				<key>imageName</key>
				<string>sgh_YL1.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>蓝天与之相接，白云与之呼应，行走在天路之上，就像是漫步在云端，故而得名“天路”。</string>
				<key>imageName</key>
				<string>sgh_YL2.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>桦皮岭气候宜人。这里年平均气温-1℃，最高气温24℃，7月份气温15.8℃，这里空气含氧量达到27%，含负氧离子较高，被誉为“天然的大氧吧”，是理想的避暑胜地。</string>
				<key>imageName</key>
				<string>sgh_YL3.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>这里的景色如同这里的人一样，真实而未经修葺。一层层的梯田，静静地躺在大自然的怀抱中，呼吸着最纯净的空气。</string>
				<key>imageName</key>
				<string>sgh_YL4.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情</string>
				<key>imageName</key>
				<string>sgh_YL5.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情</string>
				<key>imageName</key>
				<string>sgh_YL6.jpg</string>
			</dict>
		</array>
		<key>name</key>
		<string>蜿蜒向西 自驾穿越桑干河峡谷</string>
		<key>routeImage</key>
		<string>sgh_XQY1.jpg</string>
	</dict>
	<dict>
		<key>baseIntroThumb</key>
		<string>sdwh_SYBT.jpg</string>
		<key>city_of_hotel_Info</key>
		<array>
			<dict>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>威海长威大酒店</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 无早 WIFI覆盖 免费停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>218</string>
								<key>roomType</key>
								<string>标准间</string>
							</dict>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 大床 无早 WIFI覆盖 免费停车场 24小时热水</string>
								<key>roomPrice</key>
								<string>388</string>
								<key>roomType</key>
								<string>套间</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>威海望海家庭旅馆</string>
						<key>rooms</key>
						<array>
							<dict>
								<key>roomIntro</key>
								<string>最多两人 双床 含早 WIFI覆盖 免费停车 24小时热水</string>
								<key>roomPrice</key>
								<string>260</string>
								<key>roomType</key>
								<string>大床房</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>hotelMapImage</key>
				<string>sdwh_HotelMap1.jpg</string>
			</dict>
		</array>
		<key>detailIntro</key>
		<string>听海的声音 自驾山东半岛-威海</string>
		<key>intro</key>
		<string>听海的声音 自驾山东半岛-威海</string>
		<key>introImages</key>
		<array>
			<dict>
				<key>discription</key>
				<string>草原天路，全长132.7公里，犹如一条蛟龙，盘踞于群山峻岭之颠，蜿蜒曲折、跌宕起伏，绵延百余公里。</string>
				<key>imageName</key>
				<string>sdwh_YL1.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>蓝天与之相接，白云与之呼应，行走在天路之上，就像是漫步在云端，故而得名“天路”。</string>
				<key>imageName</key>
				<string>sdwh_YL2.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>桦皮岭气候宜人。这里年平均气温-1℃，最高气温24℃，7月份气温15.8℃，这里空气含氧量达到27%，含负氧离子较高，被誉为“天然的大氧吧”，是理想的避暑胜地。</string>
				<key>imageName</key>
				<string>sdwh_YL3.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>这里的景色如同这里的人一样，真实而未经修葺。一层层的梯田，静静地躺在大自然的怀抱中，呼吸着最纯净的空气。</string>
				<key>imageName</key>
				<string>sdwh_YL4.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情</string>
				<key>imageName</key>
				<string>sdwh_YL5.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情</string>
				<key>imageName</key>
				<string>sdwh_YL6.jpg</string>
			</dict>
			<dict>
				<key>discription</key>
				<string>京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情</string>
				<key>imageName</key>
				<string>sdwh_YL7.jpg</string>
			</dict>
		</array>
		<key>name</key>
		<string>听海的声音 自驾山东半岛-威海</string>
		<key>routeImage</key>
		<string>sdwh_XQY1.jpg</string>
	</dict>
</array>
</plist>
